<div class="container mt-5">
  <div class="text-center"><h1>สมาชิกใน
    กลุ่มที่ 5</h1>
    </div>
  <div class="card mb-4 mt-4 center" style="max-width: 640px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="assets/Teams/Kaiwit.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">ไกรวิชญ์ งามระเบียบ</h5>
        <p class="card-text">หมอก</p>
        <p class="card-text"><small
        class="text-muted">เลขที่ 18 ระดับชั้น ปวส.1/4</small></p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-4 mt-4 center" style="max-width: 640px;">
<div class="row g-0">
  <div class="col-md-4">
    <img src="assets/Teams/Wanlert.png" class="img-fluid rounded-start" alt="...">
  </div>
  <div class="col-md-6">
    <div class="card-body">
      <h5 class="card-title">วันเลิศ สุขล้วน</h5>
      <p class="card-text">วัน</p>
      <p class="card-text"><small
      class="text-muted">เลขที่ 10 ระดับชั้น ปวส.1/4</small></p>
    </div>
  </div>
</div>
</div>
<div class="card mb-4 mt-4 center" style="max-width: 640px;">
<div class="row g-0">
  <div class="col-md-4">
    <img src="assets/Teams/Suphachok.png" class="img-fluid rounded-start" alt="...">
  </div>
  <div class="col-md-6">
    <div class="card-body">
      <h5 class="card-title">ศุภโชค ฉวีวรณ์</h5>
      <p class="card-text">ออม</p>
      <p class="card-text"><small
      class="text-muted">เลขที่ 7 ระดับชั้น ปวส.1/4</small></p>
    </div>
  </div>
</div>