<header>
  <h1>
      Refrigerator Alarm System
  </h1>
</header>

<div class="container mt-5">
  <div class="text-center">
      <h2>อุปกรณ์ IoT</h2>
      <label>การแจ้งเตือนความผิดปกติของตู้เย็น</label>
  </div>
  <div class="row mt-5">
      <div class="col">
        <img class="mb-4"src="assets/images/ESp.jpg" alt="" width="272" height="200">
      </div>
      <div class="col-7">
          ESP32 เป็นไมโครคอนโทรลเลอร์ที่มีความสามารถสูงและได้รับความนิยมในการพัฒนาอุปกรณ์ IoT (Internet of Things)
          โดยมีคุณสมบัติหลักดังนี้:

          ซีพียู: ใช้สถาปัตยกรรม Tensilica LX6 แบบ 2 คอร์ ความเร็วสัญญาณนาฬิกา 240MHz
          หน่วยความจำ: มีแรมในตัว 512KB และรองรับการเชื่อมต่อรอมภายนอกสูงสุด 16MB
          การเชื่อมต่อ: รองรับ WiFi มาตรฐาน 802.11 b/g/n และ Bluetooth 4.2 BLE
          แรงดันไฟฟ้า: ใช้แรงดันไฟฟ้าในการทำงาน 2.6V ถึง 3V
          อุณหภูมิการทำงาน: ทำงานได้ที่อุณหภูมิ -40°C ถึง 125°C
          GPIO: มีขา GPIO จำนวน 34 ขา แต่ไม่ใช่ว่าทุกขาจะใช้งานได้ทุกฟังก์ชั่น2.
          ฟังก์ชั่นเพิ่มเติม: มีเซ็นเซอร์แม่เหล็ก, เซ็นเซอร์สัมผัส (Capacitive touch),
          และวงจรกรองสัญญาณรบกวนในวงจรขยายสัญญาณ1
          ESP32
          เหมาะสำหรับการพัฒนาอุปกรณ์ที่ต้องการการเชื่อมต่อไร้สายและการประมวลผลที่มีประสิทธิภาพสูงในราคาที่ไม่แพง
      </div>
  </div>
<div class="row mt-5">
    <div class="col">
      <img class="mb-4"src="assets/images/Module.jpg" alt="" width="272" height="200">
    </div>
    <div class="col-7">      
      Camera module กล้องโมดูล เป็นอุปกรณ์ที่รวมเซ็นเซอร์กล้องและเลนส์ในหน่วยขนาดเล็ก
     ที่สามารถติดตั้งและใช้งานร่วมกับอุปกรณ์อิเล็กทรอนิกส์ต่างๆ 
     เช่น สมาร์ทโฟน, แท็บเล็ต, และบอร์ดไมโครคอนโทรลเลอร์อย่าง Raspberry Pi หรือ Arduino
      เพื่อให้สามารถถ่ายภาพหรือบันทึกวิดีโอได้
      การใช้งานกล้องโมดูล:
    ใช้ในการสร้างระบบถ่ายภาพอัตโนมัติ เช่น การตรวจจับใบหน้า การจดจำวัตถุ การวิเคราะห์ภาพ
    การพัฒนาแอปพลิเคชัน IoT ที่ต้องการการตรวจจับและประมวลผลภาพ
    การถ่ายภาพและบันทึกวิดีโอสำหรับโครงการวิจัยหรือการพัฒนาผลิตภัณฑ์ใหม่
    กล้องโมดูลมีหลากหลายรุ่นและคุณสมบัติที่แตกต่างกัน ขึ้นอยู่กับความต้องการของการใช้งาน 
    เช่น ความละเอียด (Resolution), อัตราเฟรม (Frame Rate), และขนาดของเซ็นเซอร์
    </div>
</div>

</div>